<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>ESADE Groupeng</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <img width="20%" height="auto" src="/static/images/esade.png" alt="ESADE" class="center">
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-nav">
                      <li><a class="active" href="">Upload</a></li>
                      <li><a href="parameters">Parameters</a></li>
                      <li><a href="modify">Modify</a></li>
                      <li><a href="groups">Groups</a></li>
                      <li><a href="summary">Summary</a></li>
                      <li><a href="visualize">Visualize</a></li>

                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% if current_user.is_authenticated %}
            <div class="col-sm-12">
                <p>Upload class CSV</p>
                <form method="post" action="." enctype="multipart/form-data">
                    <p><input type="file" name="students" /></p>
                    <p><input type="submit" name = "process" value="Process the file" /></p>
                </form>
                {% if csv_present == true %}
                    <div name = "nextDiv">
                        <a href="parameters" class="next">Next &raquo;</a>
                    </div>
                    <div>{{ student_csv|safe }} </div>
                {% endif %}
            </div>
        {% endif %}
    </body>
</html>