<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>ESADE Groupeng</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <img width="20%" height="auto" src="/static/images/esade.png" alt="ESADE" class="center">
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-nav">
                        <li><a href="../">Upload</a></li>
                        <li><a href="../parameters">Parameters</a></li>
                        <li><a  class="active" href="">Modify</a></li>
                        <li><a href="../groups">Groups</a></li>
                        <li><a href="../summary">Summary</a></li>
                        <li><a href="../visualize">Visualize</a></li>
                        {% if current_user.is_authenticated %}
                            <li><a href="../download">Download Results</a></li>
                        {% endif %}
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>


            <div class="col-sm-12">
            {% if (current_user.is_authenticated) and (groups is not none) %}
                <div class="row">
                    <div class="col-sm-3">
                        <div style="width:200px;">
                            <form action="." method="POST">
                                <div name = "nextDiv">
                                    <input type="text" class="form-control" name="from" placeholder="ID / Group:Section" />
                                    <input type="text" class="form-control" name="to" placeholder="ID / Group:Section" />
                                </div>

                                <div name = "nextDiv">
                                    <input type="submit" value="Switch">
                                </div>
                                {% if message is not none %}
                                <div name>
                                    <p>{{ message }}</p>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <h4>Switch two students</h4>
                        <p>Enter student ID of the two students to switch and submit.</p>
                        <h4>Switch two groups</h4>
                        <p>Enter Section:Group ID of two groups to switch and submit.</p>
                    </div>
                </div>
        {% else %}
            <div><p>Need to upload csv and click Create Groups in parameters tab.</p></div>
        {% endif %}
                <div name = "nextDiv">
                    <a href="../parameters" class="previous">&laquo; Previous</a>
                    <a href="../groups" class="next">Next &raquo;</a>
                </div>
        {% if (current_user.is_authenticated) and (groups is not none) %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Section:Group</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in groups.items() %}

                            <tr>
                                <th scope="row">{{ key }}</th>
                                {% for v in value %}
                                    <td>{{ v }}</th>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% endif %}
            </div>

    </body>
</html>