<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>ESADE Groupeng</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">ESADE</a>
                    <ul class="nav navbar-nav">
                        <li><a href="../">Upload</a></li>
                        <li><a href="../parameters">Parameters</a></li>
                        <li><a href="../modify">Modify</a></li>
                        <li><a href="../groups">Groups</a></li>
                        <li class="active"><a href="">Summary</a></li>
                        <li><a href="../visualize">Visualize</a></li>
                        {% if current_user.is_authenticated %}
                            <li><a href="../download">Download Results</a></li>
                        {% endif %}
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% if (current_user.is_authenticated) and (tables is not none) %}
            <div class="col-sm-12">
                <div name = "nextDiv">
                    <form action="." method="POST">
                        <div class="slider">
                            <input type="checkbox" name="slider" class="slider-checkbox" id="sliderSwitch" {% if by_section %} checked  {% endif %} >
                            <label class="slider-label" for="sliderSwitch">
                              <span class="slider-inner"></span>
                              <span class="slider-circle"></span>
                            </label>
                         </div>
                         <p><input type="submit" name = "render" value="Display tables" /></p>
                    </form>
                </div>

                <div name = "nextDiv">
                    <a href="../groups" class="previous">&laquo; Previous</a>
                    <a href="../visualize" class="next">Next &raquo;</a>
                </div>

                <div>
                {% for table in tables %}
                    <div style="float: left;padding: 5px;">
                        <p>{{ table[0] }}</p>
                        {{ table[1]|safe }}
                    </div>
                {% endfor %}

            </div>
        {% endif %}
    </body>
</html>